@font-face {
  font-display: swap;
  font-family: 'Bluu Next Cyrillic';
  font-weight: 700;
  src: url('../fonts/BluuNextCyrillic.woff2') format('woff2');
}

:root {
  --color-title-yellow: #fabf59;
  --color-dark: #1d1d1d;
  --color-btn-yellow: #f9b50c;
  --color-light: #ffffff;
  --color-grey: #d9d9d9;
}

body {
  font-family: 'Inter', sans-serif;
}

.App {
  overflow: clip;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.title {
  font-family: 'Bluu Next Cyrillic', sans-serif;
  font-size: 40px;
  line-height: 1.25;
  text-align: center;
  color: var(--color-title-yellow);
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 80px;
  }
}

.pages {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: var(--color-dark);
}

@media screen and (min-width: 768px) {
  .pages {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1288px) {
  .pages {
    padding: 100px 0;
  }
}

.pages__title {
  margin-bottom: 70px;
}
